{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div style="text-align: center;">
	
<h1>Welcome to provider Enrollment</h1>
<h3>Remember to attach a legible copy of the following, if applicable:</h3>
<p>
	Verification of enrollment in Medicare or another State’s Medicaid/CHIP (if applicable) <br />
	Proof of application fee payment to a Medicare contractor or another State’s Medicaid/CHIP (if applicable) <br />
	Driver’s license or state-issued identification card <br />
	TIN verification <br />
	CLIA Certificate <br />
	License, certification, or other approval <br />
	Fictitious Business Name Statement/Permit <br />
	State Laboratory License/Registration <br />
	Signed Medi-Cal Provider Agreement (DHCS 6208) <br />
	Signed Medi-Cal Disclosure Statement (DHCS 6207) <br />
	Certificate of Liability Insurance <br />
	Certificate of Professional Liability Insurance <br />
	Proof of Workers’ Compensation Insurance <br />
	Successor Liability Agreement (if applicable) <br />
	National Provider Identifer verification (CMS/NPPES confirmation) <br />
	Clinical and didactic training or equivalent experience completed (Nurse Practitioners only) <br />
</p>

<a href ="/enroll/provider/">BEGIN APPLICATION</a>

</div>
{% endblock %}